<body>
<div class="login-form">
    <form >
        <div>
            
    <h1>Login</h1>
    <div class="content">
        <div class="input-field">
            <input type="Email" placeholder="Email" autocomplete="nope" >
        </div>
        <div class="input-field">
            <input type="Password" placeholder="Password" autocomplete="new-password" >
        </div>
        <a href="#" class="link">Forgot Your Password?</a>      
    </div>
    <div class="action">
   
    <button routerLink="/">Sign in</button>
    <br>
    </div>
        </div>
    </form>
</div>
</body>
