
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons CSS -->
    
  </head>
 

  <body>
    <nav class="sidebar locked">
      <div class="logo_items flex">
        <span class="nav_image">
        </span>
        <span class="logo_name">CMS</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
        </div>

        <div class="lll">
          
        </div>
    

      <div class="menu_container">
        <div class="menu_items">
          <ul class="menu_item">
            <div class="menu_title flex">
              <span class="title">Dashboard</span>
              <span class="line"></span>
            </div>
            <br>
            <br>
            <li class="item"> 
              <a class="navbar-item" routerLink="/header">
                <span>User Details</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/signup">
                <i class="bx bx-grid-alt"></i>
                <span>Complaint</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/solutionedit">
                <i class="bx bx-grid-alt"></i>
                <span>Solutions</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/log">
                <i class="bx bx-grid-alt"></i>
                <span>Log Out</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
              </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->
    <nav class="navbar flex">
      <i class="bx bx-menu" id="sidebar-open"></i>
      <input type="text" placeholder="Search..." class="search_box" />
      <span class="nav_image">
     
      </span>
    </nav>

    
<body>
  <div>
 
</div>
</body>

