<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons CSS -->
    
  </head>
  <body>
    <nav class="sidebar locked">
      <div class="logo_items flex">
        <span class="nav_image">
          <img src="" alt="" />
        </span>
        <span class="logo_name">CMS</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
      </div>

      <div class="menu_container">
        <div class="menu_items">
          <ul class="menu_item">
            <div class="menu_title flex">
              <span class="title">Dashboard</span>
              <span class="line"></span>
            </div>
            <br>
            <br>
            <li class="item"> 
              <a class="navbar-item" routerLink="/header">
                <span>User Details</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/signup">
                <i class="bx bx-grid-alt"></i>
                <span>Complaint</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/solution">
                <i class="bx bx-grid-alt"></i>
                <span>Solutions</span>
                <span class="line"></span>
              </a>
            </li>
              </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->
    <nav class="navbar flex">
      <i class="bx bx-menu" id="sidebar-open"></i>
      <input type="text" placeholder="Search..." class="search_box" />
      <span class="nav_image">
        
      </span>
    </nav>







<div class="container">
<div class="card"></div>
<h1>User Details</h1>
&nbsp;
<form>
    <div class="form-group">
        <label>Fname</label>
        <input type="text" [(ngModel)]="Fname" [ngModelOptions]="{standalone: true}" class="form-control" id="Fname">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}" class="form-control" id="Password">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" class="form-control" id="Email">
    </div>
    <div class="form-group">
        <label>Phone_number</label>
        <input type="text" [(ngModel)]="Phone_number" [ngModelOptions]="{standalone: true}" class="form-control" id="Phone_number">  
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" [(ngModel)]="Address" [ngModelOptions]="{standalone: true}" class="form-control" id="Address">  
    </div>
    <div class="form-group">
        <label>Role</label>
        <input type="text" [(ngModel)]="Role" [ngModelOptions]="{standalone: true}" class="form-control" id="Role">  
    </div>
    &nbsp;
    &nbsp;
    <br>
    <br>
    <button type="submit"  class="btn" (click)="save()">save</button>
</form>


</div>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;

<div class="containers">
  <h1>User Table</h1>
  <h3 *ngIf="!isResultLoaded">Loading....... </h3>
    <table class ="table">
  <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Fname</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
        <th scope="col">Phone_number</th>
        <th scope="col">Address</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let UserItem of userArray">
        <td>{{ UserItem.id }}</td>
        <td>{{ UserItem.Fname }}</td>
        <td>{{ UserItem.Password }}</td>
        <td>{{ UserItem.Email }}</td>
        <td>{{ UserItem.Phone_number }}</td>
        <td>{{ UserItem.Address }}</td>
        <td>{{ UserItem.Role }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="setUpdate(UserItem)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="setDelete(UserItem)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>