<div class="navbar-menu">
    <div class="navbar-end">

        <tr>
            <th></th>
            <th></th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <th><a class="navbar-item" routerLink="/header">Home</a></th>&nbsp;&nbsp;&nbsp;
            <th><a class="navbar-item" routerLink="/student">Signin</a></th>&nbsp;&nbsp;&nbsp;
            <th><a class="navbar-item" routerLink="/signup">signup</a></th>
        </tr>
    </div>
    </div>




<router-outlet></router-outlet>
