<body>
    <div class="signup">
    <form>
        <h1> Sign Up</h1>
        &nbsp;&nbsp;<h4> Register Yourself</h4>
        <div class="abc">
        <div class="sss">
            <label for="exampleInputfullname" class="from-lable"> Full Name</label>
            <input type="text" class="form-control" id="exampleInputfullname">
        </div>
        <div class="sss">
            <label for="exampleInputmobilenumber" class="from-lable">Mobile Number</label>
            <input type="number" class="form-control" id="exampleInputmobilenumber">
        </div>
        <div class="sss">
            <label for="exampleInputemail" class="from-lable">Email</label>
            <input type="email" class="form-control" id="exampleInputemail">
        </div>
        <div class="sss">
            <label for="exampleInputpassword" class="from-lable">Password</label>
            <input type="password" class="form-control" id="exampleInputpassword">
        </div>
        <div class="action">
        <button> Sign Up</button>
        </div>
        </div>

    </form>

    </div>




</body>
