

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons CSS -->
    
  </head>
  <body>
    <nav class="sidebar locked">
      <div class="logo_items flex">
        <span class="nav_image">
          
        </span>
        <span class="logo_name">CMS</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
      </div>

      <div class="menu_container">
        <div class="menu_items">
          <ul class="menu_item">
            <div class="menu_title flex">
              <span class="title">Dashboard</span>
              <span class="line"></span>
            </div>
            <br>
            <br>
            <li class="item"> 
              <a class="navbar-item" routerLink="/usercrub">
                <span>User Details</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/signup">
                <i class="bx bx-grid-alt"></i>
                <span>Complaint</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/solution">
                <i class="bx bx-grid-alt"></i>
                <span>Solutions</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
            <br>
            <li class="item">
              <a class="navbar-item" routerLink="/log">
                <i class="bx bx-grid-alt"></i>
                <span>Log Out</span>
                <span class="line"></span>
              </a>
            </li>
            <br>
              </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->
    <nav class="navbar flex">
      <i class="bx bx-menu" id="sidebar-open"></i>
      <input type="text" placeholder="Search..." class="search_box" />
      <span class="nav_image">
      
      </span>
    </nav>

<body>
<div class="signup">
    <form>
        <h1> </h1>
        &nbsp;&nbsp;<h4> Solutions</h4>
        <div class="abc">
        <div class="sss">
            <label for="exampleInputTitle" class="from-lable"> Title</label>
            <input type="text" class="form-control" id="exampleInputfullname">
        </div>
        <div class="sss">
            <label for="exampleInputEmployeename" class="from-lable">Employee name</label>
            <input type="text" class="form-control" id="exampleInputmobilenumber">
        </div>
        <div class="mmm"> 
          <select class="search_box">
             <option value=""></option>
             <option value="one">Under review</option>
             <option value="two">Pending</option>
             <option value="three">Resolve</option>
          </select>
        </div>
        
        <div class="sss">
            <label for="exampleInputDescription" class="from-lable">Solution</label>
            <textarea class="ggg"></textarea>
        </div>
        
        <div class="action">
        <input type="radio" name="star" id="start 1"><label for="start 1" class="fa fa-star"></label>
        <input type="radio" name="star" id="start 2"><label for="start 2" class="fa fa-star"></label>
        <input type="radio" name="star" id="start 3"><label for="start 3" class="fa fa-star"></label>
        <input type="radio" name="star" id="start 4"><label for="start 4" class="fa fa-star"></label>
        <input type="radio" name="star" id="start 5"><label for="start 5" class="fa fa-star"></label>
        </div>
        <br>
        <br>
        </div>

    </form>

    </div>

</body>
