<div class="navbar">
    <div class="content">
   <h1>Employee Complaint Management <br>System</h1>
   <p>System for Employees in any organization to complain their problems</p>
    </div>
   
   <div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   </div>


<div class="action">
<button routerLink="/student"> User Log in</button>
<br>
</div>
<div class="action">
<button routerLink="/newdash">Admin Log in</button>
</div>
    
             
            
</div>  
